@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FFF8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    width: 60%;
    font-weight: bold;
}

button:hover {
    filter: brightness(120%);
}

.submit-btn {
    background-color: #E0A75E;
    color: black;
    
}

.result p {
    font-size: 1.1em;
}